                      
.MainContainer
{
    height: 100%;
    position: relative;
}

.ScrollArea {
    position: absolute;
    overflow: auto;
    max-height: 30em;
    width: calc(100%);
    height: calc(100%);
}

.SimulationImage
{
  max-height: 30em;
  width: 100%;
  position: absolute;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
