<div class="MainContainer">
    <div class="SimulationImage" *ngIf="simulationInfo?.isActive">
        <img width="100%" [(src)]="simulationImageSrc" class="figure-img img-fluid rounded">
    </div>
    <div #scrollAreaRef class="ScrollArea" (scroll)="onScroll($event)">
        <div #scrollContentRef class="ScrollContent" *ngIf="simulationInfo?.isActive" [(style.width.px)]="scrollContentSize[0]" [(style.height.px)]="scrollContentSize[1]">
        </div>
        <div class="InactiveSimulationImage" *ngIf="!simulationInfo?.isActive">
            <img [(src)]="inactiveSimulationImageSrc" [(style.width.px)]="scrollContentSize[0]" [(style.height.px)]="scrollContentSize[1]" (load)="onInactiveImageLoad()" class="figure-img img-fluid rounded">
        </div>
    </div>
    <div class="Map" *ngIf="mapVisible">
        <div class="MapContent">
            <div class="MapElement" [style.width]="mapElementSize[0]" [style.height]="mapElementSize[1]" [style.left]="mapElementPos[0]" [style.top]="mapElementPos[1]"></div>
        </div>
    </div>
    <mat-spinner class="ProgressSpinner" [diameter]="50" *ngIf="isProgressSpinnerActive"></mat-spinner>
</div>