<div class="MainContainer" >
    <div class="SimulationImage" *ngIf="imageVisible">
        <img width="100%" [(src)]="simulationImageSrc" (load)="onImageLoad()" class="figure-img img-fluid rounded">
    </div>
    <div #scrollAreaRef class="ScrollArea" id="prop1" (scroll)="onScroll($event)">
        <div #scrollContentRef class="ScrollContent" [(style.width.px)]="scrollContentSize[0]" [(style.height.px)]="scrollContentSize[1]">
        </div>
    </div>
    <div class="Map" *ngIf="mapVisible">
        <div class="MapContent">
            <div class="MapElement" [style.width]="mapElementSize[0]" [style.height]="mapElementSize[1]" [style.left]="mapElementPos[0]" [style.top]="mapElementPos[1]"></div>
        </div>
    </div>
</div>