<div class="MainContainer">
    <div class="TableContainer ScrollArea">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="simulationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Simulation name </th>
                <td mat-cell *matCellDef="let element"> {{element.simulationName}} </td>
            </ng-container>
    
            <ng-container matColumnDef="activityState">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity state </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.activityState === 'active'">
                    <div class="ActiveState">1 worker connected</div>
                </span>
                <span *ngIf="element.activityState === 'inactive'">
                    <div class="InactiveState">inactive</div>
                </span>
                <span *ngIf="element.activityState === 'streaming'">
                    <div class="StreamingState">1 worker connected</div>
                </span>
            </td>
            </ng-container>

            <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User name </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>

            <ng-container matColumnDef="worldSize">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>World size </th>
            <td mat-cell *matCellDef="let element">{{element.worldSize | numberArrayRenderer: " x ":"3.0"}}</td>
            </ng-container>

            <ng-container matColumnDef="timestep">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time step </th>
            <td mat-cell *matCellDef="let element"> {{element.timestep | number:"1.0"}} </td>
            </ng-container>

            <ng-container matColumnDef="lastUpdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last update </th>
                <td mat-cell *matCellDef="let element"> {{element.lastUpdate}} </td>
                </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                (click)="selection.toggle(row); onSimulationClicked()"
                [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <button class="RefreshButton" mat-raised-button (click)="onRefreshClicked()">
        Refresh
    </button>
</div>