.CardContainer
{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.CardTitle
{
    flex-grow: 1;
    border-radius: 0.5em 0em 0em 0.5em;
}

.CloseButton
{
    margin-left: .5em;
    width: 2em;
    height: 2.5em;
    border-radius: 0em 1.5em 1.5em 0em;
}

.CardContent
{
    margin-top: .5em;
    width: 100%;
    height: calc(100% - 4em);
    border-radius: 0.1em 0.5em 0.2em 2em;
}

mat-card
{
    padding: 0.5em;
}