.ClosedCardsContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ClosedCard
{
    margin: 0.5em;
    padding: 0.25em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}