
mat-toolbar
{
  height: 3em;
}

.FlexContainer
{
    display: flex;
    flex-wrap: wrap;
    height: 90%
}

.SimulationTable
{
	margin: .5em;
    padding: .5em;
    width: 30%;
    min-width: 40em;
    max-width: 50em;
    height: 25em;
}

.SimulationDescription
{
	margin: .5em;
    padding: .5em;
    width: 20%;
    min-width: 15em;
    max-width: 50em;
    height: 25em;
}

.SimulationMonitor
{
	margin: .5em;
    padding: .5em;
    width: 20%;
    min-width: 15em;
    height: 25em;
}

.SimulationActions
{
	margin: .5em;
    padding: .5em;
    width: 20%;
    min-width: 15em;
    height: 25em;
}

.SimulationView
{
	margin: .5em;
    padding: .5em;
    width: 100%;
    height: 30em;
}
