
mat-toolbar {
  height: 3em;
}

.gridbox {
  height: calc(100% - 10em);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% auto 50%;
  grid-gap: 0em;

  display: -ms-grid;

  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 2em;
}

.SimulationTable {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    height: calc(100% - 4em);
}

.SimulationDescription {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    top: 1em;
}

.SimulationView {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  padding-top: 1%;
}
