<mat-toolbar>
  <span><i>alien </i> <b>world explorer</b></span>
</mat-toolbar>

<div class="gridbox">
  <mat-card class="InfoBox">
  </mat-card>
  <div class="SimulationTable">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
      </ng-container>

      <ng-container matColumnDef="simulationName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Simulation name </th>
        <td mat-cell *matCellDef="let element"> {{element.simulationName}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User name </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="worldSize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> World size </th>
        <td mat-cell *matCellDef="let element"> {{element.worldSize}} </td>
      </ng-container>

      <ng-container matColumnDef="timestep">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time step </th>
        <td mat-cell *matCellDef="let element"> {{element.timestep}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)"
          [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <mat-card class="SimulationDescription">

  </mat-card>

  <div class="SimulationView">
    <div class="SimulationImage">
      <img width=100% [src]="simulationImage" class="figure-img img-fluid rounded">
    </div>
    <button class="SimulationButtonLeft" mat-mini-fab (click)="onLeftClick()"></button>
    <button class="SimulationButtonRight" mat-mini-fab (click)="onRightClick()"></button>
    <button class="SimulationButtonTop" mat-mini-fab (click)="onTopClick()"></button>
    <button class="SimulationButtonDown" mat-mini-fab (click)="onDownClick()"></button>
    <mat-slider class="SimulationScrollbarX" tickInterval="1000" min="0" [(max)]="universeSizeX" [(step)]="scrollStepX" [(value)]="scrollbarPosX" color="warn"></mat-slider>
    <mat-slider class="SimulationScrollbarY" tickInterval="1000" min="0" [(max)]="universeSizeY" [(step)]="scrollStepY" [(value)]="scrollbarPosY" vertical="true" invert="true" color="warn"></mat-slider>
  </div>
</div>

