@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-green);
$my-app-accent:  mat-palette($mat-green);
$my-app-warn:    mat-palette($mat-green);
$my-app-theme: mat-dark-theme((
    color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn,
    )
));

@include angular-material-theme($my-app-theme);

.mat-toolbar
{
    background: #132e7e;
    color: #97f4dd;
    text-shadow: 0 0 1.4em rgb(255, 0, 155), 0 0 0.9em  rgb(255, 0, 255)
}

.mat-card
{
    background: #132e7e;
    color: #ffffffcc;
    text-shadow: #000 0.0em 0.0em 0.9em;
}

.FlexItem
{
    background: #0e2464;
}

.CardContent
{
    background: #272727;
}

.CardTitle
{
    text-shadow: #0f0 0.0em 0.0em 0.9em, #0f0 0.0em 0.0em 0.9em, #fff 0.0em 0.0em 0.9em;
}

.mat-header-row
{
    background: #132e7e;
    text-shadow: #0f0 0.0em 0.0em 0.9em, #0f0 0.0em 0.0em 0.9em, #fff 0.0em 0.0em 0.9em;
}

.mat-row
{
    background: #272727;
    text-shadow: #000 0.0em 0.0em 0.9em;
}
.mat-row.hovered
{
    background: #444;
}
.mat-row.highlighted
{
    background: #555;
}

.mat-paginator
{
    background: #272727;
}

.mat-raised-button
{
    background: #132e7e;
    color: #eff0ff;
    text-shadow: #0f0 0.0em 0.0em 0.9em;
}

.Button
{
    background: rgb(7, 27, 88);
    color: #eff0ff;
    text-shadow: #0f0 0.0em 0.0em 0.9em;
}

.GreenGlow
{
    text-shadow: #0f0 0.0em 0.0em 0.4em, #0f0 0.0em 0.0em 0.9em;
}

.ScrollArea {
    scrollbar-width: thin;
    scrollbar-color: rgb(53, 53, 53) #1f64e0;
}
.ScrollArea::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.ScrollArea::-webkit-scrollbar-track {
    background: rgb(53, 53, 53);
}
.ScrollArea::-webkit-scrollbar-thumb {
    background-color: #1f64e0;
    border-radius: 10px;
    border: 2px solid rgb(18, 70, 116);
}

.InactiveState
{
    font-weight: bold;
    color: rgb(253, 80, 57);
}
.ActiveState
{
    font-weight: bold;
    color: #0fb;
}
.StreamingState
{
    font-weight: bold;
    color: #0fb;
}

.mat-expansion-panel
{
    background: #222;
}
.mat-expansion-panel-header
{
    background: #333;
}

.NormalText
{
    color: #bbb;
}

.AccentedText
{
    color: rgb(0, 194, 103);
    text-shadow: #0f0 0.0em 0.0em 0.3em;
}