@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-green);
$my-app-accent:  mat-palette($mat-green);
$my-app-warn:    mat-palette($mat-red);
$my-app-theme: mat-dark-theme((
    color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn,
    )
));

@include angular-material-theme($my-app-theme);


.mat-toolbar
{
    background: #132e7e;
    color: #97f4dd;
    text-shadow: 0 0 1.4em rgb(255, 0, 155), 0 0 0.9em  rgb(255, 0, 255)
}

.mat-card
{
    background: #357ce6;
    color: #ffffffcc;
    text-shadow: #000 0.0em 0.0em 0.9em;
}

.FlexItem
{
    background: #132e7e;
}

.mat-header-row
{
    background: #018a35;
    text-shadow: #0f0 0.0em 0.0em 0.9em, #0f0 0.0em 0.0em 0.9em, #fff 0.0em 0.0em 0.9em;
}

.mat-row
{
    background: #00752d;
    text-shadow: #000 0.0em 0.0em 0.9em;
}
.mat-row.hovered
{
    background: #179b5d;
}
.mat-row.highlighted
{
    background: #1cb86f;
}

.mat-paginator
{
    background: #018a35;
}

.mat-raised-button
{
    background: #005320;
    color: #eff0ff;
    text-shadow: #0f0 0.0em 0.0em 0.9em;
}

.ScrollArea {
    scrollbar-width: thin;
    scrollbar-color: rgb(53, 53, 53) #bfb;
}
.ScrollArea::-webkit-scrollbar {
    width: 12px;
}
.ScrollArea::-webkit-scrollbar-track {
    background: rgb(53, 53, 53);
}
.ScrollArea::-webkit-scrollbar-thumb {
    background-color: #bfb;
    border-radius: 10px;
    border: 2px solid #1cb86f;
}

.InactiveState
{
    font-weight: bold;
    color: #d70;
}
.ActiveState
{
    font-weight: bold;
    color: #0fb;
}
.StreamingState
{
    font-weight: bold;
    color: #0ff;
}
