.DetailContainer
{
    height: 100%;
    overflow: auto;
    border-radius: 0.1em 0.5em 0.2em 2em;
}

.Access
{
    width: 100%;
}
.PermissionsContainer
{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.PermissionElement
{
    margin: 0.5em;
}

.DetailCuda
{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.DetailContent
{
    margin-top: 1em;
}
.ThreadblocksLabel
{
}
.ThreadblocksValue
{
}
.ThreadsPerBlockLabel
{
}
.ThreadsPerBlockValue
{

}
.TotalThreadsLabel
{

}
.TotalThreadsValue
{

}

