<div class="DetailContainer">
    <div class="AimLabel">
        <b>Aim</b><br/>
        <mat-divider></mat-divider>
    </div>
    <div class="NormalText">
        {{selectedSimulation?.description}}
    </div>
    <div class="PermissionsLabel">
        <b>Permissions</b><br/>
        <mat-divider></mat-divider>
    </div>
    <div class="Access">
        <div class="AccessContainer">
            <div class="AccessElement NormalText">visual&#10004;&#65039;</div>
            <div class="AccessElement NormalText">download&#10060;</div>
            <div class="AccessElement NormalText">upload&#10060;</div>
            <div class="Spacer"> </div>
        </div>
    </div>
</div>