<div class="container">
    <div class="FormContainer">
        <mat-form-field appearance="outline">
            <mat-label>Entity types:</mat-label>
            <mat-select [(value)]="selectedEntities" (selectionChange)="selectionChange($event)" multiple>
                <mat-option *ngFor="let entity of entities" [value]="entity">{{entity}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last timesteps:</mat-label>
            <input matInput [type]="'number'" [(ngModel)]="lastTimesteps">
        </mat-form-field>
    </div>
    <google-chart
        [type]="chartType"
        [data]="chartData"
        [columns]="chartColumnNames"
        [options]="chartOptions"
        [dynamicResize]="chartResize"
        *ngIf="chartAvailable">
    </google-chart>
    <div class="NormalText" *ngIf="!chartAvailable">
        <br/>
        <i>no data available</i>
    </div>
</div>

