.StatisticsContainer
{
    margin-top: 1em;
}

.FormContainer
{
    display: flex;
    width: 100%;
    height: 4em;
}
.EntityType
{
    margin-left: 2em;
    margin-right: 0.5em;
    flex-grow: 1;
    height: 4em;
}

.LastTimesteps
{
    margin-left: 0.5em;
    margin-right: 2em;
    flex-grow: 1;
    height: 4em;
}

google-chart
{
    width: 90%;
    height: 22em;
}
