.container
{

}

.FormContainer
{
    display: flex;
    width: 100%;
    height: 4em;
}
mat-form-field
{
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-grow: 1;
    height: 4em;
}

google-chart
{
    width: 90%;
    height: 25em;
}
