.StatisticsContainer
{
    margin-top: 0.5em;
    border-radius: 0.1em 0.5em 0.2em 2em;
}

.FormContainer
{
    display: flex;
    width: 100%;
    height: 4em;
}
mat-form-field
{
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-grow: 1;
    height: 4em;
}

google-chart
{
    width: 90%;
    height: 22em;
    border-radius: 0.1em 0.5em 0.2em 2em;
}
